@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600&family=Source+Serif+Pro");
@keyframes onLoad {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.fixed {
  position: fixed;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.grid {
  display: grid;
}

.flex {
  display: flex;
}

.full-height {
  height: 100vh;
}

.full-width {
  width: 100%;
}

.grid-column {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(6, 1fr);
  gap: 10px;
  margin: 0 20px;
}

@media only screen and (min-width: 860px) {
  .grid-column {
    grid-template-columns: repeat(12, 50px);
    gap: 20px;
    margin: 0;
  }
}
@media only screen and (min-width: 1380px) {
  .grid-column {
    grid-template-columns: repeat(12, 80px);
    gap: 20px;
    margin: 0;
  }
}
@media only screen and (min-width: 1920px) {
  .grid-column {
    grid-template-columns: repeat(12, 120px);
    gap: 30px;
    margin: 0;
  }
}
.white {
  color: white;
}

.transparent {
  opacity: 0.7;
}

.background {
  width: 100vw;
  height: 100vh;
  background-position: center;
  background-size: cover;
  animation: onLoad 2s ease-out;
  z-index: -2;
  background-image: linear-gradient(rgba(44, 64, 83, 0.2941176471), rgba(0, 0, 0, 0)), url("images/bg-mob.jpg");
}

.svg-block {
  display: flex;
  align-items: center;
  overflow: hidden;
}

.svg-grid-position {
  grid-column: 2/6;
}

@media only screen and (min-width: 400px) {
  .svg-grid-position {
    grid-column: 3/5;
  }
}
@media only screen and (min-width: 860px) {
  .svg-grid-position {
    grid-column: 5/9;
  }
}
.svg-options {
  stroke: white;
  stroke-width: 0.5;
  fill-opacity: 0%;
  width: 100%;
}

.svg-options:hover {
  stroke-width: 1;
}

.oswald {
  font-family: Oswald;
}

.source-serif {
  font-family: SourceSerifPro;
}

.light {
  font-weight: 200;
}

.regular {
  font-weight: 400;
}

.semibold {
  font-weight: 500;
}

.bold {
  font-weight: 600;
}

.letter-spacing {
  letter-spacing: 0.2em;
}

h1 {
  font-size: 5rem;
  line-height: 5rem;
}

h2 {
  font-size: 1.25rem;
  line-height: 2rem;
}

h3 {
  font-size: 1rem;
  line-height: 1.6rem;
}

a {
  font-size: 1.25rem;
  line-height: 2rem;
}

p {
  font-size: 1rem;
  line-height: 1.6rem;
}

@media only screen and (min-width: 1380px) {
  h1 {
    font-size: 7rem;
    line-height: 7rem;
  }
}
@media only screen and (min-width: 1920px) {
  h1 {
    font-size: 10rem;
    line-height: 10rem;
  }
  h2 {
    font-size: 1.75rem;
    line-height: 2.5rem;
  }
  h3 {
    font-size: 1.25rem;
    line-height: 2rem;
  }
  a {
    font-size: 2.5rem;
    line-height: 3.75rem;
  }
  p {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}
.title {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  z-index: -1;
}

@media only screen and (min-width: 860px) {
  .title {
    justify-content: flex-start;
    grid-column: 1/13;
  }
}
.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 60px;
  grid-column: 1/7;
}

@media only screen and (min-width: 860px) {
  .menu {
    grid-column: 1/13;
  }
}
.blocks-grid-position {
  grid-row: 2/3;
  grid-column: 1/7;
}

@media only screen and (min-width: 860px) {
  .blocks-grid-position {
    grid-column: 1/13;
  }
}
.block {
  grid-column: span 3;
  aspect-ratio: 1/1;
  padding: 10px;
  border: 0.5px solid rgba(255, 255, 255, 0.7);
}

.hover-hide:hover {
  opacity: 0;
}

.hover-mark:hover {
  font-weight: 400;
}

.c1:hover {
  background-image: url("images/c1.png");
  background-size: cover;
  opacity: 1;
}

.margin-top {
  margin-top: 60px;
}/*# sourceMappingURL=styles.css.map */